<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Car Care - Order</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link th:href="@{/css/styles.css}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div th:replace="fragments/header" :: navbar ></div>
            <div th:replace="fragments/subheader" :: booking ></div>
            <h2 class="body-h2">CARCARE ORDER FORM</h2>
            <div class="content-box col-12">
                <div>
                    <div th:replace="fragments/promo-content" :: promo-content ></div>
                </div>
                <div>
                    <form action="#" th:action="@{/order}" th:object="${order}" method="POST">
                        <fieldset>
                            <label for="name">Name:</label><br>
                            <input type="text" th:field="*{orderName}" placeholder="Name" id="name"><br>
                            <span th:if="${#fields.hasErrors('orderName')}" th:errors="*{orderName}" class="errors"></span><br>
    
                            <label for="contact">Contact:</label><br>
                            <input type="text" th:field="*{orderContact}" placeholder="Contact Number" id="contact"><br>
                            <span th:if="${#fields.hasErrors('orderContact')}" th:errors="*{orderContact}" class="errors"></span><br>
    
                            <label for="address">Address:</label><br>
                            <input type="text" th:field="*{orderAddress}" placeholder="Address" id="address"><br>
                            <span th:if="${#fields.hasErrors('orderAddress')}" th:errors="*{orderAddress}" class="errors"></span><br>
    
                            <label for="product">Product:</label><br>
                            <select th:field="*{productID}" id="product">
                                <option th:each="p : ${products}" th:value="${p.productID}" th:text="${p.productName} + ' - ' + 'PHP ' + ${p.productPrice} + '0'"></option>
                            </select><br>
                            <br>
    
                            <label for="promo">Promo Code:</label><br>
                            <input type="text" th:field="${order.promoCode}" id="promo"><br>
                            <br>
    
                            <label for="payment">Payment:</label><br>
                            <select th:field="*{orderPayment}" id="payment">
                                <option th:value="'Cash'" th:text="'Cash Payment'"></option>
                                <option th:value="'Card'" th:text="'Card Payment'"></option>
                            </select><br>
                            <br>
                                
                            <button type="submit">Confirm Order</button>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div th:replace="fragments/subfooter" :: subfooter ></div>
            <div th:replace="fragments/footer" :: footer ></div>
        </div>
        <script type="text/javascript" th:src="@{/js/main.js}"></script>
    </body>
</html>