<div th:fragment="navbar" class="navbar col-12">
    <div class="navlogo">
        <p>CarCare</p>
    </div>
    <navbar>
        <ul>
            <li><a th:href="@{/}" class="menu-link">HOME</a></li>
            <li><a th:href="@{/promos}" class="menu-link">PROMOS</a></li>
            <li><a th:href="@{/branches}" class="menu-link">BRANCHES</a></li>
            <li><a th:href="@{/products}" class="menu-link">PRODUCTS</a></li>
            <li><a th:href="@{/services}" class="menu-link">SERVICES</a></li>
        </ul>
    </navbar>
</div>

