<div th:fragment="subfooter" class="subfooter col-12">
    <div class="subfooter-row col-4">
        <div class="col-wrap">
            <h2>About Us</h2>
            <p class="about-text">At CarCare we aim to give you the best service. Our team is composed of skilled experts who want to help you bring out the best in your vehicle. Our workers perform their duties up to par with the company;s golden standard using our state of the art equipment. </p>
        </div>
    </div>
    <div class="subfooter-row col-4">
        <ul>
            <li><a th:href="@{/}">HOME</a></li>
            <li><a th:href="@{/promos}">PROMOS</a></li>
            <li><a th:href="@{/branches}">BRANCHES</a></li>
            <li><a th:href="@{/products}">PRODUCTS</a></li>
            <li><a th:href="@{/services}">SERVICES</a></li>
            <li><a th:href="@{/order}">ORDER FROM</a></li>
        </ul>
    </div>
    <div class="subfooter-row col-4">
        <p class="logo-footer">CarCare</p>
        <p class="subtext">Best service at the best price.</p>
    </div>
</div>